<div class="container">
    <div class="flex justify-start items-center space-x-3">
        <mat-icon (click)="navigateBack()" class="rounded-full hover:bg-gray-100 mb-3 hover:cursor-pointer">arrow_back</mat-icon>
        <h6>Add new customers</h6>
    </div>

    <div class="border p-7 rounded-md">
        <form>
            <div class="grid grid-cols-2 gap-x-7 gap-y-4">
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text capitalize font-medium">type</span>
                    </div>
                    <input type="text" name="type" placeholder="Enter type here" class="input input-bordered w-full text-sm" />
                </label>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text capitalize font-medium">rate</span>
                    </div>
                    <input type="text" name="rate" placeholder="Enter rate here" class="input input-bordered w-full text-sm" />
                </label>
                <label class="form-control w-full col-span-2">
                    <div class="label">
                        <span class="label-text capitalize font-medium">description</span>
                    </div>
                    <textarea name="description" class="textarea textarea-bordered" placeholder="Enter description here"></textarea>
                </label>
                <div class="flex justify-end col-span-2 mt-3">
                    <button type="submit" class="btn font-medium text-[#fff] w-36 bg-green-500 hover:bg-green-600">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>