
<div #updateCustomerModal [ngClass]="{'hidden': updateModalDisplay}" class="fixed inset-0 bg-[#000] bg-opacity-50 z-50 flex justify-center items-start">
    <div class="w-[500px] bg-[#fff] relative mt-10 rounded-md">
        <div class="flex items-center justify-center p-5 border-b">
            <span class="text-2xl font-medium">Update customer</span>
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" (click)="closeCreateCustomerModal()">✕</button>
        </div>
        <div class="py-5 px-7">
            <form [formGroup]="updateCustomerForm" (ngSubmit)="onUpdateCustomers()">
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label for="" class="font-medium text-md capitalize">type</label>
                        <input type="text" name="type" class="w-full border outline-none p-3 rounded-lg h-14 transition-all ease-in-out duration-150  focus:border-blue-300" placeholder="Enter type here" formControlName="type" autocomplete="off">
                    </div>
                    <div>
                        <label for="" class="font-medium text-md capitalize">rate</label>
                        <input type="text" name="rate" class="w-full border outline-none p-3 rounded-lg h-14 transition-all ease-in-out duration-150  focus:border-blue-300" placeholder="Enter type here" formControlName="rate" autocomplete="off">
                    </div>
                    <div class="col-span-2">
                        <label for="" class="font-medium text-md capitalize">description</label>
                        <textarea name="description" cols="30" rows="4" class=" w-full border outline-none p-3 rounded-lg transition-all ease-in-out duration-150 focus:border-blue-300" placeholder="Enter description here" formControlName="description" autocomplete="off">
                        </textarea>
                    </div>
                    <div class="col-span-2">
                        <button type="submit" class="btn btn-primary text-[#fff] capitalize font-medium w-full">
                            @if (isLoading) {
                                <app-loader/>
                            } @else {
                                update
                            }
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@if (isSuccess) {
    <app-success-alert [successMsg]="msg" />
}